# fly.toml app configuration file generated for kalshibot on 2026-01-29T22:49:04Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'kalshibot'
primary_region = 'gru'

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[mounts]
  source = "kalshibot_data"
  destination = "/data"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
